.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;

  &__title {
    color: white;
    margin-bottom: 30px;
  }

  &__card {
    padding: 25px;
    width: 230px;

    @media (min-width: 556px) {
      width: 396px;
      padding: 39px;
    }

    @media (min-width: 772px) {
      width: 555px;
      padding: 64px;
    }

    & * {
      width: 100%;
    }
    .warning {
      text-align: end;
    }
  }
}
